{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap-4.6.0-dist/css/bootstrap.min.css' %}"
    />
    <script src="{% static 'bootstrap-4.6.0-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery-3.5.1.min.js' %}"></script>
    <title>{% block title %} {% endblock %}</title>
    <style>
      @media screen and (max-width: 645px) {
        #no-mobile {
          display: none;
        }
        #no-mobile-article {
          display: none;
        }
      }
      @media screen and (min-width: 644px) {
        #mobile {
          display: none;
        }
        #mobile-article {
          display: none;
        }
      }
    </style>
  </head>

  <body>
    <div>
    {% include 'partials/nav.html' %}
    {% block content %} 
    {% endblock %}
    <footer class="pt-4 my-md-5 pt-md-5 border-top d-flex justify-content-center">
      &copy; 2021, 무제
    </footer>
  </div>
  </body>
</html>
